.order-details-outer {
  padding: 40px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.order-details-outer h1 {
  font-weight: 600;
}

.order-table {
  width: 100%;
}

.order-table tr {
  width: 100%;
}

.order-table th {
  border-bottom: 1px solid rgba(128, 128, 128, 0.54);
  padding: 10px 0px 10px 10px;
  /* width: 150px; */
  text-align: left;
  color: #9b9b9b;
  font-size: 15px;
  background-color: #fff;
  font-weight: normal;
}

.order-table td {
  padding: 20px 0px 20px 10px;
  font-size: 14px;
  margin-bottom: 10px;
  background-color: #fff;
}

.status-news span {
  border: 1px solid orange;
  padding: 3px;
  color: orange;
  border-radius: 5px;
}

.action-icons-editdel {
}

.action-icons-editdel img {
  cursor: pointer;
}

.name-attribute {
  width: 150px;
}

.date-attribute {
  width: 120px;
}

.toald-attribute {
  width: 70px;
}

.status-attribute {
  width: 100px;
}

.number-attribute {
  width: 120px;
}

.email-attribute {
  width: 250px;
}

.address-attribute {
  width: 300px;
}

.action-attribute {
  width: 100px;
}
