.order-details-outer {
  padding: 40px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-top: 80px;
}

.order-details-outer h1 {
  font-weight: 600;
}

.orders-tabs-list {
  display: flex;
}

.orders-tabs-list button {
  padding: 15px 20px 15px 20px;
  cursor: pointer;
  background-color: transparent;
  color: #000;
  border: none;
  font-size: 18px;
  border-bottom: 2px solid transparent;
}

.orders-tabs-list .active {
  background-color: #fff;
  border-bottom: 2px solid #000;
}

.order-table {
  width: 100%;
}

.order-table tr {
  width: 100%;
}

.order-table th {
  border-bottom: 1px solid rgba(128, 128, 128, 0.54);
  padding: 10px 0px 10px 10px;
  /* width: 150px; */
  text-align: left;
  color: #9b9b9b;
  font-size: 15px;
  background-color: #fff;
  font-weight: normal;
}

.order-table td {
  padding: 20px 0px 20px 10px;
  font-size: 14px;
  margin-bottom: 10px;
  background-color: #fff;
  border-bottom: 5px solid #EFEEEE;
}

.order-table td a {
  color: blue;
}

.status-news span {
  border: 1px solid orange;
  padding: 3px;
  color: orange;
  border-radius: 5px;
  font-size: 13px;
}

.action-icons-editdel img {
  cursor: pointer !important;
}

.name-attribute {
  width: 150px;
}

.date-attribute {
  width: 120px;
}

.toald-attribute {
  width: 70px;
}

.status-attribute {
  width: 100px;
}

.number-attribute {
  width: 120px;
}

.email-attribute {
  width: 250px;
}

.address-attribute {
  width: 300px;
}

.action-attribute {
  width: 100px;
}

.delete-popup-content-content {
  height: 150px;
  width: 350px !important;
  display: flex;
  align-items: center;
  justify-content: center;
}

.delete-popup-content-content::-webkit-scrollbar  {
  display: none;
}

.close-delete-name {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
}

.close-delete-name h2 {
  font-weight: normal;
  font-size: 20px;
}

.popup-delete-botton {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  /* background-color: red; */
  width: 100%;
}

.popup-delete-botton span {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  font-size: 18px;
}

.popup-delete-botton span img {
  height: 30px;
  cursor: pointer;
}