.testimonal-outer-div {
  background-image: url("../../../../public/Images/slider/s1.png");
  display: flex;
  background-repeat: no-repeat;
  padding: 100px 0;
  background-size: contain;
}

.testimonal-inner-div {
  width: 90%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 70px;
  padding: 20px 0 30px 0;
}
.testimonal-text {
  font-size: 20px;
  text-align: center;
  color: #000;
}

.testimonal-text h1 {
  font-size: 40px;
  font-weight: 600;
}


.testimonal-text p {
  font-size: 16px;
  color: gray;
}

.swiper-boxes {
    width: 100%;
    /* border: 1px solid green; */
}

.testimonal-inner-div .swiper {
  width: 70%;
  padding: 0 40px;
  /* border: 1px solid red; */
}

.testimonal-inner-div .swiper .swiper-slide {
  display: flex;

}

.testimonals-boxes {
  background-color: #fff;
  border-radius: 10px;
  padding: 30px 40px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}


.user-img-name {
    display: flex;
    gap: 20px;
}

.user-img-name img {
  height: 80px;
  width: 80px;
  border-radius: 50px;
}


.user-location {
    display: flex;
    flex-direction: column;
    gap: 3px;
    justify-content: center;
}

.user-location h2 {
    font-size: 21px;
    font-weight: 500;
}

.user-location span {
    display: flex;
    align-items: center;
    gap: 10px;
}

.user-location span h3 {
    font-weight: normal;
    font-size: 16px;
}


.testimonal-outer-div .swiper-button-prev:after,
.swiper-rtl .swiper-button-next:after {
  color: #fff;
  position: absolute;
  left: 5px;
  background-color: gray;
  font-size: 20px;
  padding: 13px 17px;
  font-weight: 700;
  border-radius: 10px;
}

.testimonal-outer-div .swiper-button-next:after, .swiper-rtl .swiper-button-prev:after {
  color: #fff;
  position: absolute;
  right: 5px;
  background-color: gray;
  font-size: 20px;
  padding: 13px 17px;
  font-weight: 700;
  border-radius: 10px;
}