
.vehicle-booking-form form {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.vehicle-booking-form form span {
    display: flex;
    justify-content: space-between;
}

.vehicle-booking-form form span input, select {
    padding: 13px 20px;
    outline: none;
    width: 260px;
    border-radius: 5px;
    border: 1px solid rgba(128, 128, 128, 0.399);
    background-color: rgba(168, 168, 168, 0.085);
    font-size: 15px;
}

.vehicle-booking-form form span select {
    width: 300px;
}
.vehicle-booking-form form span select option {
    width: 90%;
    background-color: red;
    margin-top: 20px;
}

.select-dates-from {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.select-dates-from h1 {
    font-weight: 400;
    font-size: 18px;
}

.vehicle-booking-form button {
    background-color: #03abea;
    border: 1px solid #03abea;
    padding: 13px 20px;
    width: 300px;
    border-radius: 5px;
    cursor: pointer;
    color: #fff;
    font-size: 15px;
    /* font-weight: 500; */
    letter-spacing: 1px;
    /* margin-top: 5px; */
}

.vehicle-booking-form button:hover {
    color: #03abea;
    border: 1px solid #03abea;
    background: transparent;
}