
.vehicle-booking-form form {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.vehicle-booking-form form span {
    display: flex;
    justify-content: space-between;
}

.icon-users-name {
    display: flex;
    align-items: center;
    border: 1px solid rgba(128, 128, 128, 0.399);
    background-color: rgba(185, 184, 184, 0.103);
    width: 260px;
    border-radius: 5px;
    font-size:20px;
    padding: 13px 15px;
    cursor: pointer;
    gap: 10px;
    color: gray;
}

.vehicle-booking-form form span input, select {
    outline: none;
    border: none;
    font-size: 16px;
    background-color: transparent;
    width: 100%;
    color: gray;
}

#cars {
    color: gray;
}

.vehicle-booking-form form span select {
    width: 300px;
}

.select-dates-from {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.select-dates-from h1 {
    font-weight: 400;
    font-size: 18px;
}

.selected-date-duration {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.selected-date-duration p {
    font-size: 15px;
}

.vehicle-booking-form button {
    background-color: #03abea;
    border: 1px solid #03abea;
    padding: 13px 20px;
    width: 300px;
    border-radius: 5px;
    cursor: pointer;
    color: #fff;
    font-size: 15px;
    /* font-weight: 500; */
    letter-spacing: 1px;
    /* margin-top: 5px; */
}

.vehicle-booking-form button:hover {
    color: #03abea;
    border: 1px solid #03abea;
    background: transparent;
}