

.about-us-outerdiv {
    background-image: url('../../../public/Images/Destination/about.jpg');
    height: 65vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.about-us-innerdiv {
    background-color: #00000092;
    height: 100%;
    display: flex;
    align-items: center;
    color: #fff;
}

.about-us-innerdiv span {
    width: 90%;
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.about-us-innerdiv span h1 {
    letter-spacing: .7px;
    font-size: 45px;
    font-weight: 600;
}

.about-us-innerdiv span p {
    line-height: 1.6;
    letter-spacing: .6px;
    font-size: 17px;
}

.counter-clients {
    display: flex;
    width: 90%;
    margin: auto;
    padding: 100px 0;
    gap: 50px;
}

.counter-leftside-image {
    width: 50%;
    height: 50vh;
}

.counter-leftside-image img {
    width: 100%;
    height: 100%;
    border-radius: 30px;
}

.counter-rightside-count {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
}

.counter-destination-clients {
    display: flex;
    gap: 50px;
}

.counter-rightside-count p {
    letter-spacing: .5px;
    line-height: 1.6;
    font-size: 17px;
}

.counter-rightside-count h1 {
    font-weight: 600;
    font-size: 35px;
}

.counter-destination-clients span {
    margin-top: 20px;
    border-left: 1px solid gray;
    padding: 0px 20px;
    /* border: 1px solid red; */
}

.counter-destination-clients span h2 {
    color: #03ABEA;
    font-size: 35px;
    font-weight: 600;
}

.team-section {
    background-color: rgba(246, 246, 246, 0.955);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 100px 0;
}

.team-section h1 {
    font-size: 45px;
    font-weight: 600;
}

.team-section p {
    font-size: 20px;
    text-align: center;
}

.team-member-boxes {
    width: 90%;
    margin-top: 70px;
    display: flex;
    justify-content: space-between;
}

.team-box-1 {
    background-color: #fff;
    width: 31%;
}

.team-box-1 img {
    width: 100%;
}

.team-member-detail {
    padding: 20px;
}


.team-member-detail h2 {
    color: #1F2937;
    font-weight: 600;
    font-size: 28px;
}

.team-member-detail p {
    color: #2563EB;
    font-size: 18px;
}


.desigination-social {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
}

.team-member-sociallinks {
    display: flex;
    gap: 20px;
}

.Values-section {
    width: 80%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 100px 0;
    gap: 40px;
}

.Values-section h1 {
    font-size: 45px;
    font-weight: 600;
}
.Values-section span {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.passion-box {
    width: 25%; 
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    padding: 10px 20px;
    text-align: center;
}
.passion-box span {
    background-color: rgba(203, 198, 198, 0.423);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px;
    width: 100px;
    border-radius: 100%;
}

.passion-box h2 {
    font-size: 22px;
    font-weight: 500;
}

.passion-box p {
    font-size: 15px;
}