
.dashborad-main-page {
    padding: 30px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.dashboard-wellcomenote {
    background-color: #fff;
    padding: 30px 20px;
    border-radius: 10px;
}

.dashboard-wellcomenote h2 {
    font-size: 35px;
    font-weight: 500;
}

.dashboard-wellcomenote h2 span {
    color: #02AAEC;
    font-weight: 600;
}

.dashborad-detail-list {
    display: flex;
    justify-content: space-between;
}

.dashboard-detail-box1 {
    display: flex;
    align-items: center;
    padding: 45px;
    background-color: #fff;
    justify-content: center;
    gap: 30px;

}

.total-earning-section h1 {
    font-size: 40px;
    letter-spacing: .3px;
    font-weight: 600;
    color: rgb(44, 44, 44);
}

.total-earning-section p {
    color: #02AAEC;
    font-weight: 500;
    font-size: 16px;
}

.earning-logo {
    font-size: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #02AAEC;
    background-color: rgba(60, 59, 59, 0.104);
    height: 80px;
    width: 80px;
    border-radius: 20px;
}