.transport-page {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10% 0 5% 0;
}

.transport-page-inner {
    /* background-color: green; */
    width: 90%;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 50px;
}

.transport-page-heading h2 {
    font-size: 45px;
    font-weight: 600;
  }
  
  .transport-page-heading h1 {
    font-size: 45px;
    font-weight: 500;
    padding: 0px 90px;
    border: 2px solid #03abea;
    text-transform: uppercase;
  }

.transport-grid-line {
    width: 100%;
    display: flex;
    gap: 50px;
    flex-wrap: wrap;
}

.transport-boxes {
    display: flex;
    flex-direction: column;
    width: 22.4% !important;
    background-color: rgba(228, 227, 227, 0.37);
    border: 1px solid #03acea35;
    border-radius: 20px;
}

.transport-boxes img {
    width: 100%;
    height: 280px;
    border-radius: 20px;
    border-bottom: 1px solid rgba(184, 184, 184, 0.812);
}

.transport-details {
    padding: 10px 20px 35px 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.daily-rates {
    display: flex;
    align-items: center;
    gap: 10px;
}

.daily-rates h4 {
    font-weight: normal;
    font-size: 20px;
}

.daily-rates h5 {
    font-size: 20px;
    color: #03abea;
}

.vehicle-including {
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin: auto;
}
.transport-includes span {
    display: flex;
    gap: 10px;
}

.transport-includes span h4 {
    font-weight: normal;
    font-size: 16px;
}

.transport-details button {
    background-color: #03abea;
    padding: 10px 20px;
    color: #ffff;
    outline: none;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    border: 1px solid #03abea;
    width: 100%;
    margin-top: 15px;
    font-size: 16px;
}

.transport-details button:hover {
    border: 1px solid #03abea;
    background: transparent;
    color: #03abea;
}