.transport-page {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10% 0 5% 0;
}

.transport-page-inner {
    /* background-color: green; */
    width: 90%;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 80px;
}

.transport-page-heading h2 {
    text-align: center;
    font-size: 45px;
    font-weight: 600;
  }
  
  .transport-page-heading h1 {
    font-size: 45px;
    font-weight: 500;
    padding: 0px 90px;
    border: 2px solid #03abea;
    text-transform: uppercase;
  }

.transport-grid-line {
    width: 100%;
    display: flex;
    gap: 50px;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.transport-boxes {
    display: flex;
    flex-direction: row;
    width: 47.4% !important;
    background-color: rgba(228, 227, 227, 0.221);
    border: 1px solid #03acea35;
    border-radius: 10px;
    height: 290px;
}

.transport-boxes img {
    width: 390px;
    height: 290px;
    border-radius: 10px;
}

.transport-details {
    padding: 10px 20px 15px 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.daily-rates {
    display: flex;
    align-items: center;
    gap: 10px;
}

.daily-rates h4 {
    font-weight: normal;
    font-size: 18px;
}

.daily-rates h5 {
    font-size: 18px;
    color: #03abea;
    font-weight: 600;
}

.vehicle-capacity {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.vehicle-capacity h4 {
    display: flex;
    gap: 5px;
    font-size: 17px;
    font-weight: normal;
}

.vehicle-capacity h5 {
    font-size: 17px;
    font-weight: 500;
}
.vehicle-including {
    display: flex;
    justify-content: space-between;
    width: 85%;
    margin: auto;
    margin-top: 5px;
}

.transport-includes {
    display: flex;
    flex-direction: column;
    gap: 3px;
}
.transport-includes span {
    display: flex;
    gap: 10px;
}

.transport-includes span h4 {
    font-weight: normal;
    font-size: 16px;
}

.transport-details button {
    background-color: #03abea;
    padding: 8px 0px;
    color: #ffff;
    outline: none;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    border: 1px solid #03abea;
    width: 70%;
    font-size: 14px;
}

.transport-details button:hover {
    border: 1px solid #03abea;
    background: transparent;
    color: #03abea;
}

.popup-content {
    width: 40% !important;
    overflow-y: scroll;
    height: 70%;
    border-radius: 10px;
}

.popup-content::-webkit-scrollbar {
    width: 10px;
}

.popup-content::-webkit-scrollbar-track {
    border-radius: 10px;
    background-color: rgba(128, 128, 128, 0.553);
}

.popup-content::-webkit-scrollbar-thumb {
    background-color: #03abea;
    border-radius: 10px;
}

.popu-booking-form {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    gap: 30px;
    padding: 30px 20px;
    border-radius: 10px;
}

.close-button-name {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.close-button-name .content {
    font-size: 25px;
    font-weight: 500;
}
.popup-close-botton button {
    display: flex;
    align-content: center !important;
    justify-content: center;
    gap: 5px;
    background-color: #03abea;
    border: 1px solid #03abea;
    cursor: pointer;
    color: #fff;
    padding: 8px 20px;
}